/storage/
/logs/
/dist/
/build/
/server_config.txt
/poetry.lock
/releases/
__pycache__/
*ipynb

.DS_Store
storage/model-repository/
!storage/model-repository/*/*/*.pbtxt
!storage/model-repository/*/*/**/*.py
