# biocentral_api.model.TestResult

## Load the model package
```dart
import 'package:biocentral_api/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**success** | **String** |  | 
**information** | **String** |  | 
**testMetrics** | **String** |  | 
**testStatistic** | **String** |  | 
**pValue** | **String** |  | 
**significanceLevel** | **num** |  | 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


