name: Build

on:
  push:
    branches: [ 'main', 'develop' ]
  pull_request:
    branches: [ 'main', 'develop' ]

env:
  SERIOUS_PYTHON_SITE_PACKAGES: ${{ github.workspace }}/build/site-packages

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]  # TODO  macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Windows Dependencies
        if: matrix.os == 'windows-latest'
        run: choco install yq -y
        shell: powershell

      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build clang libgtk-3-dev unzip

      - name: Get Flutter Dependencies
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
      - run: flutter pub get

      - name: Build Windows Application
        run: |
          dart run serious_python:main package --asset assets/python_companion.zip python_companion/ -p Windows -r -r -r python_companion/requirements.txt
          flutter build windows --release
        if: matrix.os == 'windows-latest'
      - name: Upload Windows build artifacts
        uses: actions/upload-artifact@v4
        if: matrix.os == 'windows-latest'
        with:
          name: windows-build
          path: build/windows/x64/runner/Release

      - name: Build MacOS Application
        run: |
          dart run serious_python:main package --asset assets/python_companion.zip python_companion/ -p Darwin -r -r -r python_companion/requirements.txt
          flutter build macos --release
        if: matrix.os == 'macos-latest'

      - name: Build Linux Application
        run: |
          dart run serious_python:main package --asset assets/python_companion.zip python_companion/ -p Linux -r -r -r python_companion/requirements.txt
          flutter build linux --release
        if: matrix.os == 'ubuntu-latest'
      - name: Upload Linux build artifacts
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/linux/x64/release/bundle

      - name: Build Web Application
        run: |
          cp -r python_companion/ assets/
          rm -rf assets/python_companion/{.idea,__pypackages__,venv,.venv}
          flutter build web
        if: matrix.os == 'ubuntu-latest'
      - name: Upload Web build artifacts
        uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest'
        with:
          name: web-build
          path: build/web

  build_appimage:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get version
        id: get_version
        run: echo "::set-output name=version::$(grep 'version:' pubspec.yaml | awk '{print $2}' | sed 's/+[0-9]*$//' | tr -d "'" | tr . -)"

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y wget libfuse2

      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-build
          path: build/linux/

      - name: Download AppImageKit
        run: |
          wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x appimagetool-x86_64.AppImage

      - name: Prepare AppDir
        run: |
          mkdir -p biocentral.AppDir
          cp -r build/linux/* biocentral.AppDir/
          chmod +x biocentral.AppDir/biocentral

      - name: Create AppRun file
        run: |
          cat > biocentral.AppDir/AppRun << EOF
          #!/bin/sh
          cd "\$(dirname "\$0")"
          exec ./biocentral
          EOF
          chmod +x biocentral.AppDir/AppRun

      - name: Create .desktop File
        run: |
          cat > biocentral.AppDir/biocentral.desktop << EOF
          [Desktop Entry]
          Version=1.0
          Type=Application
          Terminal=false
          Name=Biocentral
          Comment=Biomedical data, from lab to paper.
          Exec=biocentral %u
          Icon=biocentral_logo
          Categories=Science;
          EOF

      - name: Copy Logo
        run: cp assets/biocentral_logo/biocentral_logo.png biocentral.AppDir/

      - name: Bundle AppImage
        run: ARCH=x86_64 ./appimagetool-x86_64.AppImage biocentral.AppDir/ biocentral_v${{ steps.get_version.outputs.version }}.AppImage

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: biocentral-appimage-v${{ steps.get_version.outputs.version }}
          path: biocentral_*.AppImage
